services:
  - type: web
    name: anime-nika-server
    env: docker
    repo: https://github.com/Spidy300/anime-nika-server.git
    plan: free
    branch: main
    envVars:
      - key: PORT
        value: 10000
      - key: NODE_ENV
        value: production